/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content-section {
    display: none;
    padding: 20px;
}

.content-section.active {
    display: block;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

form input {
    flex: 1;
    max-width: 400px; /* Define um tamanho máximo para o campo de entrada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

#tarefas {
    list-style-type: none;
    padding: 0;
}

#tarefas li {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#tarefas li div {
    display: flex;
    gap: 10px;
}

button.concluir {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.excluir {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.concluir:hover, button.excluir:hover {
    opacity: 0.8;
}

#mensagem-erro {
    color: red;
    margin-top: 10px;
}
